@import url("normalize.css") layer(normalize);
@import url("highlight.css") layer(highlight);

/* Border box sizing */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

/* Basic styling */
html {
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    border-bottom: 1px solid lightgray;
}

footer {
    border-top: 1px solid lightgray;
    padding: 30px 0;
}

h1,
h2,
.site-title {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-optical-sizing: auto;
}

h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.site-title {
    display: inline-block;
    line-height: 3;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.site-title:link,
.site-title:visited,
.site-title:focus,
.site-title:hover,
.site-title:active {
    color: black;
    text-decoration: none;
    background-color: white;
}

.latest-post-list {
    list-style-type: none;
    padding: 0;
}

.latest-post-list li {
    padding-bottom: 10px;
}

.post-date {
    font-size: 1.5rem;
    color: gray;
}

p,
ul {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 1.5rem 0;
}

code {
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.codehilite {
    overflow-x: scroll;
}

/* Links */
a {
    outline-color: transparent;
}

a:link {
    color: #1c7ece;
}

a:visited {
    color: #6f1add;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    background: #1c7ece;
    color: #edf1e9;
}

a[href^="http"] {
    background-image: url("9110810_external_link_icon.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 100% 50%;
    padding-right: 16px;
}

/* Nav bar */
nav ul {
    padding-left: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    font-size: 1.8rem;
    font-weight: 400;
    border: 1px solid gray;
    border-bottom: none;
}

nav li:last-child {
    border-bottom: 1px solid gray;
}

nav li a {
    display: block;
    width: 100%;
    padding: 0 1rem;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
    outline-color: transparent;
    color: #222;
}

nav a:link,
nav a:visited,
nav a:focus {
    color: #222;
    background: white;
}

nav a:hover {
    background: #222;
    color: #fff;
}

nav a:active {
    background: darkorange;
    color: white;
}

.ham-checkbox {
    display: none;
}

.ham-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1.5rem;
    right: 2rem;
}

.ham-icon .bar {
    background-color: black;
    width: 3rem;
    height: 0.5rem;
    margin: 0.75rem 0;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    transform-origin: center left;
}

nav {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: 
        max-height 0.2s ease-in-out,
        margin-bottom 0.2s ease-in-out;
}

.ham-checkbox:checked ~ nav {
    max-height: 10rem;
    margin-bottom: 15px;
}

.ham-checkbox:checked ~ .ham-icon .top-bar {
    transform: translate(0, -0.25rem) rotate(45deg);
    width: calc(1.414 * 3rem);
}

.ham-checkbox:checked ~ .ham-icon .mid-bar {
    background: transparent;
}

.ham-checkbox:checked ~ .ham-icon .bot-bar {
    transform: translate(0, 0.25rem) rotate(-45deg);
    width: calc(1.414 * 3rem);
}

@media screen and (min-width: 40em) {
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        max-height: 100%;
    }

    nav ul {
        display: flex;
        align-items: center; /* Align vertical */
        margin: 0;
        height: 100%;
    }
    nav li {
        flex: 1;
        list-style-type: none;
        font-size: 1.8rem;
        font-weight: 400;
        border: none;
        padding: 5px;
    }
    nav li:last-child {
        border: none;
    }

    nav a {
        display: inline-block;
        line-height: unset;
    }

    nav a:hover {
        text-decoration: underline;
        background-color: white;
        color: black;
    }
    
    .ham-icon {
        display: none;
    }

}
