<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">  
  </head>
  <body>
    <header>
      <div class="header-content">
        <a class="site-title" href="/">Krzysztof Jóskowiak</a>
        <input id="ham-checkbox" class="ham-checkbox" type="checkbox">
        <label for="ham-checkbox" class="ham-icon">
          <div class="bars">
            <div class="bar top-bar"></div>
            <div class="bar mid-bar"></div>
            <div class="bar bot-bar"></div>
          </div>
        </label>
        <nav>
          <ul class="nav-menu">
            {% for item in navigation %}
              <li><a href="{{ item.href }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="main-content">
        <article>
          {% block content %}
          {% endblock %}
        </article>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Krzysztof Jóskowiak</p>
      </div>
    </footer>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
